 *{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Josefin Sans', sans-serif;}

 .carousel-inner img {
    width: 100%;
<<<<<<< HEAD
    height: 100vh;
  } 
=======
    height: 90vh;
  } 
>>>>>>> f231911d7f5e67baab99d9a288e50efeab93384f
